<!--- MENU  -->
  <header>
    <div id="headerimage">
      <h1 id="terminal"><a href="https://www.nerdbude.com" class="front">NERDBUDE</a></h1>
      <h3>[ code. keyboards. terminals. cyber. ]</h3>
      <table>
	      <tr>
		      <th><a href="https://www.nerdbude.com/posts/readme.html" class="front">[HOWTO]</a></th>
          <th><a href="https://www.nerdbude.com/posts/about.html" class="front">[WHOAMI]</a></th>
          <th><a href="https://www.nerdbude.com/podcast/index.html" class="front">[POD]</a></th>
          <th><a href="https://www.nerdbude.com/posts/frankenswitches.html" class="front">[FRANKENSWITCHES]</a></th>
          <!-- ADD NEW MENUPOINT HERE -->
        </tr>
<!-- MENU -->
